.body {
    font-size: 25px;
}

.btn-white {
    background-color: white;
    border: 0;
}

.btn-white:hover {
    background-color: black;
    color: white;
}

.deliver-card {
    border-radius: 20px;
    padding: 2em;
}

.header-pushdown {
    margin-bottom: 4em;
}

.header {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 100%;
    z-index: 1;
    display: block;
    background-color: white;

    padding-top: 1em;
    padding-bottom: 0.7em;
    text-align: center;
}

.order-time {
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: rgb(83, 83, 83);
}

.deliver-btn {
    padding: 5px 15px;
}

.bold {
    font-weight: bold;
}

.step_date {
    position: absolute;
    left: -110px;
}

.step_time {
    position: absolute;
    left: -108px;
    top: 15px;
}

.timeline-wrapper {
    padding-left: 80px;
    min-width: 400px;
    font-family: 'Helvetica';
    font-size: 14px;
    /*border: 1px solid #CCC;*/
}
/*
@media (min-width:300px) {
  .deliver-card h3{
    font-size: 50px;
  }

  h2{
    font-size:50px;
  }

  p,button{
    font-size:30px;
  }
  .deliver-btn{
    padding:20px 30px;
  }

  .prof_date{
    color:darkgrey;
    font-size:25px;
  }

  .prof_card button{
    float:right;
    border:0;
    
  }
  h3{
     font-size:40px;
     padding-left:20px;
  }
}

    .deliver-btn {
        padding: 20px 30px;
    }
}
*/


.StepProgress {
    position: relative;
    padding-left: 42px;
    list-style: none;
}

.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 95%;
    border-left: 2px solid #CCC;
}

.StepProgress-item {
    position: relative;
    counter-increment: list;
}

.StepProgress-item:not(:last-child) {
    padding-bottom: 50px;
}

.StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -27px;
    height: 100%;
    width: 10px;
}

.StepProgress-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -32px;
    width: 12px;
    height: 12px;
    border: 2px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
}



.StepProgress-item.current::after {
    border: 2px solid blue;
}

.StepProgress-item.is-done::before {
    border-left: 2px solid blue;
}

.StepProgress-item.is-done::after {
    /*content: "?";*/
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border: 2px solid blue;
    background-color: white;
}

.StepProgress strong {
    display: block;
}

.adp-directions,
.adp-placemark,
#panel {
    display: none;
}

.margin-auto{
  margin: 0 auto;
}

.prof_card{
  background-color: #f6f6f6;
  border:1px solid #f6f6f6;
  border-radius: 10px;
  margin-top:-10px;
  padding-bottom: 30px;
}

.prof_background{
  background-image: url("https://images.askmen.com/1080x540/2016/01/25-021526-facebook_profile_picture_affects_chances_of_getting_hired.jpg");
  height:400px;
  width:100%;
}

.prof_detail{
  padding:0px 30px;
}

.margin-btm-0{
  margin-bottom:0;
}

.order_card{
  background-color:white;
  border-radius:10px;
  margin:0 20px;
  padding:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
